.brands {
  @include adaptive-value('padding-top', 50, 40, 1);
  @include adaptive-value('padding-bottom', 50, 40, 1);

  &__slides {
    display: flex;
    align-items: center;
    padding: 40px 0;
  }

  &__slide {
    box-sizing: border-box;
    width: 185px;
  }
}

.brands-card {
  width: 185px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e3e3e3;
  background-color: var(--color-white);
  transition: 250ms ease;

  &:hover {
    box-shadow: 0px 13px 35px 0px rgba(0, 0, 0, 0.18);
    border-color: transparent;
  }

  &__img {
    width: 140px;
    height: 40px;

    img {
      @include img(contain);
    }
  }

}
