.header {
  transition: 250ms ease;
  background-color: var(--color-white);

  &.scroll-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    z-index: 5;

    .header__bottom {
      display: none;
    }
  }

  &__logo {
    flex-shrink: 0;
  }

  &__top {
    padding: 10px 0;
    border-bottom: 1px solid #edf2f4;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
    }
  }

  &__toggle {
    flex-shrink: 0;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 350ms ease-in;

    &-line {
      border-radius: 3px;
      width: 100%;
      height: 2px;
      background-color: var(--color-dark);
      position: relative;
      transition: 150ms ease-in;

      &::after,
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: inherit;
        transition: 450ms ease-in;
        border-radius: 3px;
      }

      &::after {
        top: -7px;
      }

      &::before {
        bottom: -7px;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__bottom {
    padding: 14px 0;
    border-bottom: 1px solid #edf2f4;

    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &__phone {
    flex-shrink: 0;
  }

  &__search {
    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  .header-tools {
    @include breakpointsMaxW($bp-991) {
      display: none;
    }
    &__list {
      display: flex;
      align-items: center;
      gap: 30px;
      @include breakpointsMaxW($bp-container) {
        gap: 20px;
      }
    }
    &__link {
      display: block;
      width: 37px;
      height: 37px;
      background-color: var(--color-bg);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 50%;

      &:hover {
        background-color: var(--color-accent);
        fill: var(--color-white);
      }
    }

    &__count {
      position: absolute;
      top: 0;
      right: -8px;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      line-height: 1;

      &--bg {
        background-color: var(--color-accent);
        color: var(--color-white);
      }
    }
  }

  .form-search {
    max-width: 570px;
    width: 100%;

    &__group {
      width: 100%;
      border: 2px solid #d98828;
      border-radius: 22.5px;
      height: 46px;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding-right: 56px;
    }

    &__input {
      padding: 14px 23px;
      outline: transparent;
      height: 100%;
      width: calc(100% - 170px);

      &::placeholder {
        color: var(--color-gray);
      }
    }

    &__btn {
      background-color: var(--color-accent);
      fill: var(--color-white);
      width: 56px;
      height: calc(100% + 2px);
      margin-left: auto;
      border-radius: 0px 22.5px 22.5px 0px;
      position: absolute;
      right: -1px;
    }

    &__select {
      margin-left: auto;
    }
  }
}

.phone-box {
  @include breakpointsMaxW($bp-991) {
    display: none;
  }

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding-left: 22px;

  &::after {
    @include elDef();
    width: 16px;
    height: 16px;
    @include maskImage(url('../images/icons/phone.svg'), contain);
    background-color: #e8e4de;
    left: 0;
    top: 0;
  }

  &__numbers {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }

  &__call {
    color: var(--color-accent);
    border-bottom: 1px dashed var(--color-accent);
    line-height: 1;
  }
}
