.hero {
  color: var(--color-white);
  @include background(cover);
  background-color: #222222;
  z-index: 1;

  &__title {
    font-family: $Oswald;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 100;
    @include adaptive-value('margin-bottom', 50, 30, 1);
    @include adaptive-value('font-size', 60, 40, 1);

    span {
      display: inline-block;
      width: 90px;
      font-size: 18px;
      font-weight: 100 !important;
      @include adaptive-value('font-size', 18, 12, 1);
      
      @include breakpointsMaxW($bp-768) {
        display: none;
      }
    }
  }

  &__offer {
    max-width: 450px;
  }

  &__abovetitle {
    font-size: 18px;
    line-height: 50px;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    color: var(--color-accent);
    font-family: $BookmanOldStyle;

    @include adaptive-value('font-size', 18, 13, 1);
    @include breakpointsMaxW($bp-360) {
      line-height: 1.5;
      margin-bottom: 10px;
    }
  }

  &__slide {
    @include background(cover);
    box-sizing: border-box;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 485px;
    padding: 30px 0;
    padding-left: 100px;
    @include breakpointsMaxW($bp-991) {
      padding-left: 10px;
    }
    @include breakpointsMaxW($bp-768) {
      padding-left: 0;
    }
  }

  &__content {
    position: relative;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.1);
    @include breakpointsMaxW($bp-991) {
      display: none;
    }

    &--next {
      right: 5%;
      @include breakpointsMaxW($bp-container) {
        right: 1%;
      }
    }
    &--prev {
      left: 5%;
      @include breakpointsMaxW($bp-container) {
        left: 1%;
      }
    }
  }

  &__btn {
    position: relative;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    width: 150px;
    padding: 0;
    padding: 19px 50px 19px 14px;

    &::after {
      @include elDef();
      width: 17px;
      height: 17px;
      @include maskImage(url('../images/icons/dots.svg'), contain);
      background-color: var(--color-white);
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
    }

    &:hover {
      &:after {
        background-color: var(--color-accent);
      }
    }
  }

  &--about {
    .hero {
      &__wrapper {
        min-height: 540px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 50px 0;
        @include adaptive-value('min-height', 540, 300, 1);
      }

      &__offer {
        max-width: 500px;
      }

      &__title {
        margin-bottom: 30px;
        @include adaptive-value('font-size', 35, 25, 1);
        font-weight: 600;
        font-family: $TTCommons;
      }

      &__text {
        font-size: 17px;
        line-height: 1.3;
        font-weight: 400;
        color: #869699;
      }
    }
  }
}
