.shops {
  @include adaptive-value('padding-top', 45, 30, 1);
  @include adaptive-value('padding-bottom', 75, 40, 1);

  &__list {
    display: grid;
    gap: 30px;

    @include breakpointsMaxW($bp-768) {
      gap: 50px;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: minmax(auto, 350px) 1fr;
    gap: 60px;
    @include breakpointsMaxW($bp-container) {
      gap: 30px;
    }
    @include breakpointsMaxW($bp-991) {
      gap: 20px;
    }
    @include breakpointsMaxW($bp-768) {
      gap: 20px;
      grid-template-columns: 1fr;
    }
  }

  &__map {
    height: 100%;

    @include breakpointsMaxW($bp-768) {
      height: 350px;
    }
  }

  .shops-card {
    @include breakpointsMaxW($bp-768) {
      max-width: 100%;
    }
  }
}

.shops-card {
  max-width: 350px;
  border-radius: 10px;
  background-color: var(--color-bg);
  border-radius: 10px;

  &__img {
    width: 100%;
    height: 230px;

    img {
      border-radius: 10px 10px 0px 0px;
      @include img(cover);
    }
  }

  &__info {
    padding: 10px 25px;
  }

  &__address {
    font-size: 16px;
    line-height: 1.1;
    font-weight: 400;
    color: #282828;
    padding: 14px 0;
    border-bottom: 1px solid #e2e2e2;
  }

  &__data {
    padding: 14px 0;
    border-bottom: 1px solid #e2e2e2;
    font-size: 16px;
    color: #868686;
  }

  &__subway,
  &__schedule {
    padding-left: 25px;
    position: relative;

    &::after {
      @include elDef();
      width: 16px;
      height: 16px;
      background-color: #868686;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }

  &__subway {
    margin-bottom: 20px;
    &::after {
      @include maskImage(url('../images/content/metro-1.png'), contain);
      background-color: #d92828;
    }

    &--purple {
      &::after {
        background-color: #ad28d9;
      }
    }
  }
  &__schedule {
    &::after {
      @include maskImage(url('../images/icons/clock-2.svg'), contain);
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 14px 0;
  }

  &__tel,
  &__mail {
    line-height: 1;
    color: #282828;
  }

  &__tel {
    font-size: 25px;
  }
}
