.swiper-slide {
  box-sizing: border-box;
}
.swiper-pagination-progressbar {
  background-color: #ededed;
}
.swiper-pagination-progressbar-fill {
  background-color: var(--color-accent) !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;

  &:hover {
    background-color: var(--color-accent);
  }

  &::after {
    @include elDef();
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include maskImage(url('../images/icons/chevron.svg'), contain);
    background-color: var(--color-white);
  }
}
.swiper-button-next {
  &::after {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}
.swiper-button-prev {
  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.swiper-pagination {
  &-bullet {
    width: 5px;
    height: 5px;
    opacity: 1;
    background-color: #c7c4c1;

    &-active {
      background-color: var(--color-accent);
    }
  }
}
