<section class="about">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__offer">
        <div class="about__title section-title">
          «Мы продаём не просто люстру или бра,
          <span>мы продаём – решение»</span>
        </div>
        <div class="about__text">
          <p>
            История компании начинается с открытия в 2004 году первого нашего
            магазина люстр в городе Москве. За годы своего существования мы
            развили сеть магазинов «Люстероид» в городе Москве и МО.
          </p>

          <p>
            Основной вид деятельности нашей компании - освещение: люстры, бра,
            светильники, настольные лампы, торшеры, уличное освещение, лента
            LED, розетки, выключатели и др. Продажа товаров компании «Люcтероид»
            проводится круглосуточно на нашем сайте
          </p>

          <p>
            Доставка осуществляется любыми доступными способами. Мы сотрудничаем
            с транспортными компаниями и можем отправить Вам товар в разные
            города России.
          </p>

          <p>
            В наших магазинах работают специалисты со стажем не менее 5 лет
            работы в данной области, которые проконсультируют и помогут выбрать
            необходимые Вам товары.
          </p>
        </div>
      </div>

      <div
        class="about__preview"
        style="background-image: url('images/content/about.jpg')"
      ></div>
    </div>
  </div>
</section>
