<section class="activity">
  <div class="container">
    <div class="activity__wrapper">
      <div class="activity__left">
        <div class="activity__boxes">
          <article class="activity-box">
            <h3 class="activity-box__title">
              Миссия нашей <span>компании</span>
            </h3>
            <div class="activity-box__text">
              <p>
                Привнести в каждый дом красивый, правильный и качественный свет.
              </p>
            </div>
          </article>
          <article class="activity-box">
            <h3 class="activity-box__title">Наши<span>ценности</span></h3>
            <div class="activity-box__text">
              <p>
                Поддержание высокого качества обслуживания и репутации компании.
              </p>
            </div>
          </article>
          <article class="activity-box">
            <h3 class="activity-box__title">Наше<span>видение</span></h3>
            <div class="activity-box__text">
              <p>
                К 2026 году расширить географию нашего присутствия в еще 5
                городах.
              </p>
            </div>
          </article>
          <article class="activity-box activity-box--requisites">
            <h3 class="visually-hidden">Реквизиты</h3>

            <button
              class="activity-box__btn"
              type="button"
              aria-label="Скачать реквизиты"
            >
              <svg width="20" height="20">
                <use xlink:href="images/sprite.svg#download"></use>
              </svg>
            </button>
            <ul class="activity-box__list">
              <li class="activity-box__item">ИНН: 7707453960</li>
              <li class="activity-box__item">КПП: 770701001</li>
              <li class="activity-box__item">ОГРН: 1217700263110</li>
              <li class="activity-box__item">
                Юридический адрес: 127055, г. Москва, туп.
              </li>
              <li class="activity-box__item">
                1-Й Тихвинский, д.5-7, оф.ПОМ/КОМ/оф.I/1/88
              </li>
              <li class="activity-box__item">Р/С: 40702810010000827266</li>
              <li class="activity-box__item">К/С: 30101810145250000974</li>
              <li class="activity-box__item">БИК: 044525974</li>
              <li class="activity-box__item">АО "ТИНЬКОФФ БАНК"</li>
            </ul>
          </article>
        </div>
      </div>
      <div class="activity__right">
        <h2 class="activity__title section-title">
          Основной вид деятельности нашей компании - освещение:
        </h2>
        <div class="activity__text">
          <p>
            освещение: люстры, бра, светильники, настольные лампы, торшеры,
            уличное освещение, лента LED, розетки, выключатели и др.
          </p>
          <p>
            Продажа товаров компании «Люcтероид» проводится круглосуточно на
            нашем сайте
          </p>
          <p>
            Доставка осуществляется любыми доступными способами. Мы сотрудничаем
            с транспортными компаниями и можем отправить Вам товар в разные
            города России.
          </p>
          <p>
            В наших магазинах работают специалисты со стажем не менее 2-х лет в
            данной области, которые проконсультируют и помогут выбрать
            необходимые Вам товары.
          </p>
        </div>
        <div
          class="activity__preview"
          style="background-image: url('images/content/activity.jpg')"
        ></div>
      </div>
    </div>
  </div>
</section>
