<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>

    <ul class="advantages__list">
      <li class="advantages__item advantages__item--delivery">
        <span class="advantages__name">Бесплатная доставка</span>
        <div class="advantages__descr">
          <p>Осуществляем бесплатную доставку при заказе от от 3 500 рублей</p>
        </div>
      </li>
      <li class="advantages__item advantages__item--message">
        <span class="advantages__name">Бесплатная консультация</span>
        <div class="advantages__descr">
          <p>Отвечаем на вопросы покупателей в течение 10 минут</p>
        </div>
      </li>
      <li class="advantages__item advantages__item--discount">
        <span class="advantages__name">Скидка по промокоду</span>
        <div class="advantages__descr">
          <p>Дарим скидку всем клиентам за подписку на рассылку</p>
        </div>
      </li>
      <li class="advantages__item advantages__item--warranty">
        <span class="advantages__name">Гарантия качества</span>
        <div class="advantages__descr">
          <p>Соответствуем требованиям и стандартам качества</p>
        </div>
      </li>
    </ul>
  </div>
</section>
