<section class="banners">
  <div class="container">
    <h2 class="visually-hidden">Баннеры</h2>
    <ul class="banners__list">
      <li class="banners__item">
        <article class="banners-card banners-card--quality">
          <div class="banners-card__offer">
            <a class="banners-card__link" href="#"></a>
            <h3 class="banners-card__title">Более 1500 <span>единиц</span></h3>

            <p class="banners-card__text">премиальных дизайнерских решений</p>

            <a class="banners-card__arrow" href="#">
              <svg width="16" height="16">
                <use xlink:href="images/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="banners__item">
        <article class="banners-card banners-card--home">
          <div class="banners-card__offer">
            <a class="banners-card__link" href="#"></a>
            <h3 class="banners-card__title">Декор <span>для дома</span></h3>

            <p class="banners-card__text">
              каталог премиальных аксессуаров и мебели
            </p>

            <a class="banners-card__arrow" href="#">
              <svg width="16" height="16">
                <use xlink:href="images/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
