<section class="brands">
  <div class="container">
    <h2 class="visually-hidden">Бренды</h2>

    <div class="brands__slider swiper">
      <ul class="brands__slides swiper-wrapper">
        <li class="brands__slide swiper-slide">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/1.png" alt="lumion" />
            </div>
          </div>
        </li>
        <li class="brands__slide swiper-slide">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/2.png" alt="lumion" />
            </div>
          </div>
        </li>
        <li class="brands__slide swiper-slide">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/3.png" alt="lumion" />
            </div>
          </div>
        </li>
        <li class="brands__slide swiper-slide">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/4.png" alt="lumion" />
            </div>
          </div>
        </li>
        <li class="brands__slide swiper-slide">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/5.png" alt="lumion" />
            </div>
          </div>
        </li>
        <li class="brands__slide swiper-slide">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/6.png" alt="lumion" />
            </div>
          </div>
        </li>
        <li class="brands__slide swiper-slide">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/7.png" alt="lumion" />
            </div>
          </div>
        </li>
        <li class="brands__slide swiper-slide">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/1.png" alt="lumion" />
            </div>
          </div>
        </li>
        <li class="brands__slide swiper-slide">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/2.png" alt="lumion" />
            </div>
          </div>
        </li>
        <li class="brands__slide swiper-slide">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/3.png" alt="lumion" />
            </div>
          </div>
        </li>
        <li class="brands__slide swiper-slide">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/4.png" alt="lumion" />
            </div>
          </div>
        </li>
        <li class="brands__slide swiper-slide">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/5.png" alt="lumion" />
            </div>
          </div>
        </li>
        <li class="brands__slide swiper-slide">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/6.png" alt="lumion" />
            </div>
          </div>
        </li>
        <li class="brands__slide swiper-slide">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/7.png" alt="lumion" />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
