<section class="categories">
  <div class="container">
    <div class="categories__wrapper">
      <div
        class="categories__top"
        style="background-image: url('images/content/categories-1.jpg')"
      >
        <h2 class="categories__title section-title">Люстры</h2>
        <p class="categories__amount">1500 товаров в наличии</p>
      </div>

      <div class="categories__content">
        <div class="categories__aside aside">
          <ul class="aside__list">
            <li class="aside__item">
              <a class="aside__link" href="#">Потолочные</a>
            </li>
            <li class="aside__item">
              <a class="aside__link" href="#">Подвесные</a>
            </li>
            <li class="aside__item">
              <a class="aside__link" href="#">Каскадные</a>
            </li>
            <li class="aside__item">
              <a class="aside__link" href="#">Люстры - вентиляторы</a>
            </li>
            <li class="aside__item">
              <a class="aside__link" href="#">Большие люстры</a>
            </li>
            <li class="aside__item">
              <a class="aside__link" href="#">Люстры на штанге</a>
            </li>
          </ul>

          <a class="aside__btn btn" href="#">В каталог</a>
        </div>
        <div class="categories__products">
          <ul class="categories__list">
            <li class="categories__item">
              <article class="product-card">
                <a class="product-card__link" href="#"></a>
                <div class="product-card__actions card-actions">
                  <ul class="card-actions__list">
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        type="button"
                        aria-label="Посмтореть"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#eye"></use>
                        </svg>
                      </button>
                    </li>
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        type="button"
                        aria-label="Добавить в сравнение"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#filter"></use>
                        </svg>
                      </button>
                    </li>
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        type="button"
                        aria-label="Добавить в избранное"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                      </button>
                    </li>
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        aria-label="Добавить в корзину"
                        type="button"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#cart"></use>
                        </svg>
                      </button>
                    </li>
                  </ul>
                </div>
                <div class="product-card__img">
                  <img
                    src="images/content/products/chandeliers/1.png"
                    alt="Продукт"
                  />
                </div>
                <div class="product-card__info">
                  <h3 class="product-card__title">
                    Подвесная люстра Wertmark Bolita WE236.12.023
                  </h3>
                  <div class="product-card__prices">
                    <p class="product-card__price product-card__price--new">
                      31 033 <span>₽</span>
                    </p>
                  </div>
                </div>
              </article>
            </li>
            <li class="categories__item">
              <article class="product-card">
                <a class="product-card__link" href="#"></a>
                <div class="product-card__actions card-actions">
                  <ul class="card-actions__list">
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        type="button"
                        aria-label="Посмтореть"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#eye"></use>
                        </svg>
                      </button>
                    </li>
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        type="button"
                        aria-label="Добавить в сравнение"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#filter"></use>
                        </svg>
                      </button>
                    </li>
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        type="button"
                        aria-label="Добавить в избранное"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                      </button>
                    </li>
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        aria-label="Добавить в корзину"
                        type="button"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#cart"></use>
                        </svg>
                      </button>
                    </li>
                  </ul>
                </div>
                <div class="product-card__img">
                  <img
                    src="images/content/products/chandeliers/2.png"
                    alt="Продукт"
                  />
                </div>
                <div class="product-card__info">
                  <h3 class="product-card__title">
                    Подвесная люстра ST Luce Avellino SL1504.203.05
                  </h3>
                  <div class="product-card__prices">
                    <p class="product-card__price product-card__price--new">
                      22 730 <span>₽</span>
                    </p>
                  </div>
                </div>
              </article>
            </li>
            <li class="categories__item">
              <article class="product-card">
                <a class="product-card__link" href="#"></a>
                <div class="product-card__actions card-actions">
                  <ul class="card-actions__list">
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        type="button"
                        aria-label="Посмтореть"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#eye"></use>
                        </svg>
                      </button>
                    </li>
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        type="button"
                        aria-label="Добавить в сравнение"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#filter"></use>
                        </svg>
                      </button>
                    </li>
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        type="button"
                        aria-label="Добавить в избранное"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                      </button>
                    </li>
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        aria-label="Добавить в корзину"
                        type="button"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#cart"></use>
                        </svg>
                      </button>
                    </li>
                  </ul>
                </div>
                <div class="product-card__img">
                  <img
                    src="images/content/products/chandeliers/3.png"
                    alt="Продукт"
                  />
                </div>
                <div class="product-card__info">
                  <h3 class="product-card__title">
                    Подвесная люстра Odeon Light Vassa 4987/9C
                  </h3>
                  <div class="product-card__prices">
                    <p class="product-card__price product-card__price--new">
                      58 460 <span>₽</span>
                    </p>
                  </div>
                </div>
              </article>
            </li>
            <li class="categories__item">
              <article class="product-card">
                <a class="product-card__link" href="#"></a>
                <div class="product-card__actions card-actions">
                  <ul class="card-actions__list">
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        type="button"
                        aria-label="Посмтореть"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#eye"></use>
                        </svg>
                      </button>
                    </li>
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        type="button"
                        aria-label="Добавить в сравнение"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#filter"></use>
                        </svg>
                      </button>
                    </li>
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        type="button"
                        aria-label="Добавить в избранное"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                      </button>
                    </li>
                    <li class="card-actions__item">
                      <button
                        class="card-actions__btn"
                        aria-label="Добавить в корзину"
                        type="button"
                      >
                        <svg width="17" height="17">
                          <use xlink:href="images/sprite.svg#cart"></use>
                        </svg>
                      </button>
                    </li>
                  </ul>
                </div>
                <div class="product-card__img">
                  <img
                    src="images/content/products/chandeliers/4.png"
                    alt="Продукт"
                  />
                </div>
                <div class="product-card__info">
                  <h3 class="product-card__title">
                    Подвесная люстра Freya Seona FR5024PL-08GR
                  </h3>
                  <div class="product-card__prices">
                    <p class="product-card__price product-card__price--new">
                      16 790 <span>₽</span>
                    </p>
                  </div>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
