<section class="checkout">
  <div class="container">
    <div class="checkout__wrapper">
      <div class="checkout__side side">
        <div class="side__top">
          <h3 class="side__title">ПОМОЩЬ</h3>
        </div>
        <ul class="side__list">
          <li class="side__item">
            <a class="side__link" href="#">Условия оплаты</a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">Условия доставки</a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">Гарантия на товар</a>
          </li>
        </ul>
      </div>
      <div class="checkout__right">
        <div class="checkout__top">
          <h2 class="checkout__title title-600">Как оформить заказ</h2>
          <div class="checkout__text">
            <p>
              Оформить заказ на нашем сайте легко. Просто добавьте выбранные
              товары в корзину, а затем перейдите на страницу Корзина, проверьте
              правильность заказанных позиций и нажмите кнопку «Оформить заказ»
              или «Быстрый заказ».
            </p>
          </div>
        </div>

        <ul class="checkout__list">
          <li class="checkout__item checkout__item--fast">
            <div class="checkout__head">
              <div class="checkout__icon">
                <svg width="26" height="26">
                  <use xlink:href="images/sprite.svg#rocket"></use>
                </svg>
              </div>
              <h3 class="checkout__heading">Быстрый заказ</h3>
            </div>
            <div class="checkout__descr">
              <p>
                Функция «Быстрый заказ» позволяет Вам в ускоренном режиме пройти
                процедуру оформления заказа, требуется заполнить форму, после
                чего с вами свяжется менеджер магазина для консультации и
                уточнения деталей заказа.
              </p>
              <p>
                После звонка Вы получите подтверждение заказа и информацию о
                доставке покупки.
              </p>
            </div>
          </li>
          <li class="checkout__item checkout__item--standard">
            <div class="checkout__head">
              <div class="checkout__icon">
                <svg width="26" height="26">
                  <use xlink:href="images/sprite.svg#rocket"></use>
                </svg>
              </div>
              <h3 class="checkout__heading">Быстрый заказ</h3>
            </div>
            <div class="checkout__descr">
              <p>
                Если Вы уверены в своём выборе, то можете самостоятельно
                оформить и оплатить покупку.
              </p>
            </div>
            <button class="checkout__btn btn" type="button">
              Перейти к покупкам
            </button>
          </li>
          <li class="checkout__item checkout__item--delivery">
            <div class="checkout__info">
              <div class="checkout__head">
                <div class="checkout__icon">
                  <svg width="26" height="26">
                    <use xlink:href="images/sprite.svg#rocket"></use>
                  </svg>
                </div>
                <h3 class="checkout__heading">Доставка</h3>
              </div>
              <span class="checkout__name"> Варианты доставки:</span>
              <ul class="checkout__options">
                <li class="checkout__option">• Самовывоз из магазина</li>
                <li class="checkout__option">
                  • Курьерская доставка - с понедельника по субботу 09: 00 -
                  19:00
                </li>
                <li class="checkout__option">• Почта Россси или СДЭК</li>
              </ul>
            </div>
            <div class="checkout__location">
              <div class="checkout__img">
                <svg width="48" height="48">
                  <use xlink:href="images/sprite.svg#location"></use>
                </svg>
              </div>
              <div class="checkout__descr">
                <p>
                  В зависимости от места жительства вам будут представлены
                  несколько вариантов осуществления доставки.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
