<section class="contacts">
  <div class="container">
    <h2 class="contacts__title section-title">Контакты</h2>

    <div class="contacts__wrapper">
      <div class="contacts__offer">
        <div class="contacts__img">
          <img src="images/content/shops/1.jpg" alt="магазин" />
        </div>
        <div class="contacts__connect">
          <div class="contacts__boxes">
            <div class="contacts__box">
              <span class="contacts__name">телефон</span>
              <a class="contacts__tel" href="tel:+79060830099">8 (906) 083 00 99 </a>
            </div>
            <div class="contacts__box">
              <span class="contacts__name">e-mail</span>
              <a href="mailto:lusteroidofficial@mail.ru">
                lusteroidofficial@mail.ru
              </a>
            </div>

            <div class="contacts__box contacts__box--address">
              <span class="contacts__name">адрес</span>
              <address>
                Калужское шоссе 4с1, ТЦ Славянский Стан, этаж 1, павильон 1.35
              </address>
              <p>Ежедневно с 10:00 до 20:00 | Колл-центр: с 9:00 до 21:00</p>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Ade2b2d5def1fafca4ff58c3a5cc330e70f8c9c01be64725bbb52f39f04e404b6&amp;source=constructor"
          width="600"
          height="600"
        ></iframe>
      </div>
    </div>
  </div>
</section>
