<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__left">
        <div class="footer__col">
          <span class="footer__name">Информация</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">О компании</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Услуги</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Как купить</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Производители</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Магазины</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">Информация</span>
          <div class="footer__lists">
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Люстры</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Светильники</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Бра и подсветки</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Торшеры</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Настольные лампы</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Споты</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Трековые системы</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Уличное освещение</a>
              </li>
            </ul>

            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Офисное освещение</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Водное освещение</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Предметы интерьера</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Светодиодная подсветка</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Лампочки</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Электротовары</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Комплектующие</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Новогодние товары</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__col">
          <span class="footer__name">Время работы</span>
          <div class="footer__schedule">
            <span>Пн. – Вс: с 10:00 до 19:00</span>
            <span>Колл-центр: с 9:00 до 21:00</span>
          </div>

          <div class="footer__socials socials">
            <div class="socials__name">Мы в социальных сетях:</div>
            <ul class="socials__list">
              <li class="socials__item">
                <a
                  class="socials__link socials__link--vk"
                  href="#"
                  aria-label="vk"
                ></a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link socials__link--instagram"
                  href="#"
                  aria-label="instagram"
                ></a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link socials__link--mailru"
                  href="#"
                  aria-label="mailru"
                ></a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link socials__link--whatsapp"
                  href="#"
                  aria-label="whatsapp"
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__col">
          <span class="footer__name">Наши контакты</span>
          <div class="footer__links">
            <a class="footer__tel" href="tel:+79060830099">8 (906) 083 00 99</a>
            <a class="footer__mail" href="mailto:lusteroidofficial@mail.ru">
              lusteroidofficial@mail.ru
            </a>
            <address class="footer__address">
              Москва, Калужское шоссе 20км , 4с1 ТЦ Славянский Стан, Магазин
              1.35
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copy">
        <p>
          2022 © Lusteroid — это удобный сервис, с помощью которого легко
          выбрать светильник, проверить, как он подходит к вашему интерьеру/ Все
          права защищены.
        </p>
      </div>
      <div class="footer__bottom-right">
        <div class="footer__by">
          <span>Разработка сайта</span>
          <a
            class="footer__company"
            href="https://razrabotka-saita.ru/"
            target="_blank"
          >
            <img src="images/logo-company.png" alt="Адванс медиа" />
          </a>
        </div>
        <a class="footer__arrow-top" href="#">
          <svg width="15" height="15">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
