<section
  class="hero hero--about"
  style="background-image: url('images/content/hero-about.jpg')"
>
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h2 class="hero__title title-600">
          Мы продаём не просто люстру или бра, мы продаём – решение»
        </h2>
        <div class="hero__text">
          <p>
            История компании начинается с открытия в 2004 году первого нашего
            магазина люстр в городе Москве. За годы своего существования мы
            развили сеть магазинов «Люстероид» в городе Москве и МО.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
