<section class="hero">
  <div class="hero__content">
    <div class="hero__slider swiper">
      <ul class="hero__slides swiper-wrapper">
        <li
          class="hero__slide swiper-slide"
          style="background-image: url('images/content/hero-main.jpg')"
        >
          <div class="container">
            <div class="hero__wrapper">
              <div class="hero__offer">
                <p class="hero__abovetitle">
                  люстры / светильники / электротовары
                </p>
                <h2 class="hero__title">
                  осветительные приборы
                  <span>
                    для дома <br />
                    и бизнеса
                  </span>
                </h2>
                <a class="hero__btn btn" href="#">В каталог</a>
              </div>
            </div>
          </div>
        </li>
        <li
          class="hero__slide swiper-slide"
          style="background-image: url('images/content/hero-main.jpg')"
        >
          <div class="container">
            <div class="hero__wrapper">
              <div class="hero__offer">
                <p class="hero__abovetitle">
                  люстры / светильники / электротовары
                </p>
                <h2 class="hero__title">осветительные приборы
                  <span>
                    для дома <br />
                    и бизнеса
                  </span>

                </h2>
                <a class="hero__btn btn" href="#">В каталог</a>
              </div>
            </div>
          </div>
        </li>
        <li
          class="hero__slide swiper-slide"
          style="background-image: url('images/content/hero-main.jpg')"
        >
          <div class="container">
            <div class="hero__wrapper">
              <div class="hero__offer">
                <p class="hero__abovetitle">
                  люстры / светильники / электротовары
                </p>
                <h2 class="hero__title">осветительные приборы
                  <span>
                    для дома <br />
                    и бизнеса
                  </span>

                </h2>
                <a class="hero__btn btn" href="#">В каталог</a>
              </div>
            </div>
          </div>
        </li>
        <li
          class="hero__slide swiper-slide"
          style="background-image: url('images/content/hero-main.jpg')"
        >
          <div class="container">
            <div class="hero__wrapper">
              <div class="hero__offer">
                <p class="hero__abovetitle">
                  люстры / светильники / электротовары
                </p>
                <h2 class="hero__title">осветительные приборы
                  <span>
                    для дома <br />
                    и бизнеса
                  </span>
                </h2>
                <a class="hero__btn btn" href="#">В каталог</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>

    <button
      class="hero__arrow hero__arrow--next swiper-button-next"
      type="button"
      aria-label="Слудющий"
    ></button>
    <button
      class="hero__arrow hero__arrow--prev swiper-button-prev"
      type="button"
      aria-label="Предыдущий"
    ></button>
  </div>
</section>
