<section class="manufacturers">
  <div class="container">
    <div class="manufacturers__top">
      <h2 class="manufacturers__title">Бренды</h2>
      <div class="manufacturers__text">
        <p>
          Наш интернет-магазин является официальным дилером представленных
          торговых марок осветительного оборудования. Вся продукция
          действительно фирменная, никакого «серого импорта». На все товары
          распространяется гарантия производителя, а цены в нашем магазине
          соответствуют рекомендованным производителем.
        </p>
      </div>
    </div>
    <div class="manufacturers__content">
      <ul class="manufacturers__list">
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/1.png" alt="NOVOTECH" />
            </div>
            <h3 class="brands-card__name">NOVOTECH</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/2.png" alt="lumion" />
            </div>
            <h3 class="brands-card__name">LUMION</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/3.png" alt="ODEON" />
            </div>
            <h3 class="brands-card__name">ODEON</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/4.png" alt="SONEX" />
            </div>
            <h3 class="brands-card__name">SONEX</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/5.png" alt="LUSSOLE" />
            </div>
            <h3 class="brands-card__name">LUSSOLE</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/6.png" alt="CRYSTAL LUX" />
            </div>
            <h3 class="brands-card__name">CRYSTAL LUX</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/7.png" alt="MAYTONI" />
            </div>
            <h3 class="brands-card__name">MAYTONI</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/8.png" alt="KINK LIGHT" />
            </div>
            <h3 class="brands-card__name">KINK LIGHT</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/9.png" alt="JUNG" />
            </div>
            <h3 class="brands-card__name">JUNG</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/10.png" alt="SWG" />
            </div>
            <h3 class="brands-card__name">SWG</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/11.png" alt="ITALLINE" />
            </div>
            <h3 class="brands-card__name">ITALLINE</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/12.png" alt="VELE LUCE" />
            </div>
            <h3 class="brands-card__name">VELE LUCE</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/13.png" alt="NEWPORT" />
            </div>
            <h3 class="brands-card__name">NEWPORT</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/14.png" alt="DE MARKT" />
            </div>
            <h3 class="brands-card__name">DE MARKT</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/15.png" alt="LUSSOLE LOFT" />
            </div>
            <h3 class="brands-card__name">LUSSOLE LOFT</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/16.png" alt="GAUSS СВЕТИЛЬНИКИ" />
            </div>
            <h3 class="brands-card__name">GAUSS СВЕТИЛЬНИКИ</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/17.png" alt="L&B" />
            </div>
            <h3 class="brands-card__name">L&B</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/18.png" alt="GAUSS" />
            </div>
            <h3 class="brands-card__name">GAUSS</h3>
          </div>
        </li>

        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/19.png" alt="LGO, PROMO" />
            </div>
            <h3 class="brands-card__name">LGO, PROMO</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/20.png" alt="PROMO" />
            </div>
            <h3 class="brands-card__name">PROMO</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/21.png" alt="LOFT" />
            </div>
            <h3 class="brands-card__name">LOFT</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/22.png" alt="СОНЕКС" />
            </div>
            <h3 class="brands-card__name">СОНЕКС</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/23.png" alt="ODEON LIGHT" />
            </div>
            <h3 class="brands-card__name">ODEON LIGHT</h3>
          </div>
        </li>
        <li class="manufacturers__item">
          <div class="brands-card">
            <div class="brands-card__img">
              <img src="images/content/brands/color/24.png" alt="OUTDOOR" />
            </div>
            <h3 class="brands-card__name">OUTDOOR</h3>
          </div>
        </li>
      </ul>

      <div class="manufacturers__bottom">
        <div class="manufacturers__pagination pagination">
          <ul class="pagination__list">
            <li class="pagination__item">
              <a class="pagination__link pagination__link--active" href="#"
                >1</a
              >
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">2</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">3</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">4</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">5</a>
            </li>
            <li class="pagination__item pagination__item--dots">...</li>
            <li class="pagination__item">
              <a class="pagination__link pagination__link--last" href="#"
                >346</a
              >
            </li>
          </ul>
        </div>
        <button class="manufacturers__btn btn--light" type="button">
          Загрузить еще
        </button>
      </div>
    </div>
  </div>
</section>
