<section class="product">
  <div class="container">
    <div class="product__top">
      <h2 class="product__title title-600">
        Потолочная люстра Crystal Lux Sergio PL6 Gold
      </h2>
    </div>
    <div class="product__content">
      <div class="product__slider">
        <div class="slider-thumbs">
          <div class="slider-thumbs__nav swiper" id="slider-nav">
            <ul class="swiper-wrapper">
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/products/1.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/products/2-big.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/products/2-big.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/products/1.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/products/2-big.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/products/2-big.png" alt="Слайд №1" />
              </li>
            </ul>
          </div>

          <div class="slider-thumbs__main swiper" id="slider-main">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <img src="images/content/products/1.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/products/2-big.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/products/2-big.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/products/1.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/products/2-big.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/products/2-big.png" alt="Слайд №1" />
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="product__right">
        <div class="product__spec spec-product">
          <div class="spec-product__top">
            <span class="spec-product__name"> Характеристики </span>
          </div>
          <ul class="spec-product__list">
            <li class="spec-product__item">
              <div class="spec-product__left">Бренд</div>
              <div class="spec-product__right spec-product__right--highlight">
                CRYSTAL LUX
              </div>
            </li>
            <li class="spec-product__item">
              <div class="spec-product__left">Артикул</div>
              <div class="spec-product__right">Sergio PL6 Gold</div>
            </li>
            <li class="spec-product__item">
              <div class="spec-product__left">Стиль</div>
              <div class="spec-product__right spec-product__right--highlight">
                Современный
              </div>
            </li>
            <li class="spec-product__item">
              <div class="spec-product__left">Гарантия (лет)</div>
              <div class="spec-product__right">12 месяцев</div>
            </li>
            <li class="spec-product__item">
              <div class="spec-product__left">Интерьер</div>
              <div class="spec-product__right spec-product__right--highlight">
                Для спальни
              </div>
            </li>
            <li class="spec-product__item">
              <div class="spec-product__left">Цвет</div>
              <div class="spec-product__right spec-product__right--highlight">
                Бежевый
              </div>
            </li>
            <li class="spec-product__item">
              <div class="spec-product__left">Общая мощность, Вт</div>
              <div class="spec-product__right">360</div>
            </li>
            <li class="spec-product__item">
              <div class="spec-product__left">Напряжение, V</div>
              <div class="spec-product__right">220-240</div>
            </li>
            <li class="spec-product__item">
              <div class="spec-product__left">Степень защиты, IP</div>
              <div class="spec-product__right">IP20</div>
            </li>
            <li class="spec-product__item">
              <div class="spec-product__left">Гарантия (лет)</div>
              <div class="spec-product__right">12 месяцев</div>
            </li>
          </ul>
          <a class="spec-product__btn btn btn--light" href="#"
            >Все характеристики</a
          >
        </div>
        <div class="product__actions actions-product">
          <div class="actions-product__price">
            <p>28 200 ₽ / <span>шт</span></p>
          </div>
          <div class="actions-product__details">
            <p class="actions-product__stock">В наличии: <span>18</span></p>
            <a class="actions-product__cheap" href="#">Нашли дешевле</a>
          </div>
          <div class="actions-product__quantity">
            <span class="actions-product__name">Количество</span>

            <div class="actions-product__buy">
              <div class="actions-product__counter counter">
                <button
                  class="counter__btn counter__btn--decrease"
                  type="button"
                  aria-label="Добавить"
                >
                  -
                </button>
                <input class="counter__input" type="number" value="1" />
                <button class="counter__btn counter__btn--increase" type="button" aria-label="Вычесть">
                  +
                </button>
              </div>
              <button
                class="actions-product__btn actions-product__btn--cart btn"
                type="button"
              >
                В корзину
              </button>
              <button
                class="actions-product__btn btn btn--light actions-product__btn--buy"
              >
                Купить в 1 клик
              </button>
            </div>
            <ul class="actions-product__list">
              <li class="actions-product__item actions-product__item--gift">
                <button class="actions-product__link" type="button">
                  Хочу в подарок
                </button>
              </li>
              <li class="actions-product__item actions-product__item--pickup">
                Самовывоз через 1-2 дня бесплатно
              </li>
              <li class="actions-product__item actions-product__item--deliery">
                Доставка 1-2 дня 390 рублей
              </li>
              <li class="actions-product__item actions-product__item--deliery">
                От 3 500 рублей - бесплатно
              </li>
            </ul>
          </div>
          <div class="actions-product__notify">
            <p>
              Цена действительна только для интернет-магазина и может отличаться
              от цен в розничных магазинах
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="product__tabs tabs">
      <ul class="tabs__top">
        <li class="tabs__top-item">
          <button class="tabs__top-btn tabs__top-btn--active" type="button">
            Характеристики и описание
          </button>
        </li>
        <li class="tabs__top-item">
          <button class="tabs__top-btn" type="button">Отзывы</button>
        </li>
        <li class="tabs__top-item">
          <button class="tabs__top-btn" type="button">Как купить</button>
        </li>
        <li class="tabs__top-item">
          <button class="tabs__top-btn" type="button">Оплата</button>
        </li>
        <li class="tabs__top-item">
          <button class="tabs__top-btn" type="button">Доставка</button>
        </li>
      </ul>

      <div class="tabs__content active">
        <div class="tabs__boxes">
          <div class="tabs__box tabs-box tabs-box--main">
            <span class="tabs-box__name">Основные</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--interior">
            <span class="tabs-box__name">Интерьер</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--color">
            <span class="tabs-box__name">Цвет и материал</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="tabs-box__left">Артикул</div>
                <div class="tabs-box__right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Бренд</div>
                <div class="tabs-box__right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Страна</div>
                <div class="tabs-box__right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Стиль</div>
                <div class="tabs-box__right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--lamps">
            <span class="tabs-box__name">Лампы</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--sizes">
            <span class="tabs-box__name">Размеры</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--electrician">
            <span class="tabs-box__name">Электрика</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="tabs-box__left">Страна</div>
                <div class="tabs-box__right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Стиль</div>
                <div class="tabs-box__right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--additionally">
            <span class="tabs-box__name">Дополнительно</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tabs__content">
        <div class="tabs__boxes">
          <div class="tabs__box tabs-box tabs-box--main">
            <span class="tabs-box__name">Основные</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--interior">
            <span class="tabs-box__name">Интерьер</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--color">
            <span class="tabs-box__name">Цвет и материал</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="tabs-box__left">Артикул</div>
                <div class="tabs-box__right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Бренд</div>
                <div class="tabs-box__right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Страна</div>
                <div class="tabs-box__right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Стиль</div>
                <div class="tabs-box__right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--lamps">
            <span class="tabs-box__name">Лампы</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--sizes">
            <span class="tabs-box__name">Размеры</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--electrician">
            <span class="tabs-box__name">Электрика</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="tabs-box__left">Страна</div>
                <div class="tabs-box__right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Стиль</div>
                <div class="tabs-box__right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--additionally">
            <span class="tabs-box__name">Дополнительно</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tabs__content">
        <div class="tabs__boxes">
          <div class="tabs__box tabs-box tabs-box--main">
            <span class="tabs-box__name">Основные</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--interior">
            <span class="tabs-box__name">Интерьер</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--color">
            <span class="tabs-box__name">Цвет и материал</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="tabs-box__left">Артикул</div>
                <div class="tabs-box__right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Бренд</div>
                <div class="tabs-box__right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Страна</div>
                <div class="tabs-box__right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Стиль</div>
                <div class="tabs-box__right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--lamps">
            <span class="tabs-box__name">Лампы</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--sizes">
            <span class="tabs-box__name">Размеры</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--electrician">
            <span class="tabs-box__name">Электрика</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="tabs-box__left">Страна</div>
                <div class="tabs-box__right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Стиль</div>
                <div class="tabs-box__right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--additionally">
            <span class="tabs-box__name">Дополнительно</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tabs__content">
        <div class="tabs__boxes">
          <div class="tabs__box tabs-box tabs-box--main">
            <span class="tabs-box__name">Основные</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--interior">
            <span class="tabs-box__name">Интерьер</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--color">
            <span class="tabs-box__name">Цвет и материал</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="tabs-box__left">Артикул</div>
                <div class="tabs-box__right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Бренд</div>
                <div class="tabs-box__right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Страна</div>
                <div class="tabs-box__right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Стиль</div>
                <div class="tabs-box__right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--lamps">
            <span class="tabs-box__name">Лампы</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--sizes">
            <span class="tabs-box__name">Размеры</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--electrician">
            <span class="tabs-box__name">Электрика</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="tabs-box__left">Страна</div>
                <div class="tabs-box__right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Стиль</div>
                <div class="tabs-box__right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--additionally">
            <span class="tabs-box__name">Дополнительно</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tabs__content">
        <div class="tabs__boxes">
          <div class="tabs__box tabs-box tabs-box--main">
            <span class="tabs-box__name">Основные</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--interior">
            <span class="tabs-box__name">Интерьер</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--color">
            <span class="tabs-box__name">Цвет и материал</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="tabs-box__left">Артикул</div>
                <div class="tabs-box__right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Бренд</div>
                <div class="tabs-box__right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Страна</div>
                <div class="tabs-box__right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Стиль</div>
                <div class="tabs-box__right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--lamps">
            <span class="tabs-box__name">Лампы</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--sizes">
            <span class="tabs-box__name">Размеры</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--electrician">
            <span class="tabs-box__name">Электрика</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="tabs-box__left">Страна</div>
                <div class="tabs-box__right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="tabs-box__left">Стиль</div>
                <div class="tabs-box__right">Современный</div>
              </li>
            </ul>
          </div>
          <div class="tabs__box tabs-box tabs-box--additionally">
            <span class="tabs-box__name">Дополнительно</span>

            <ul class="tabs-box__list">
              <li class="tabs-box__item">
                <div class="left">Артикул</div>
                <div class="right">Sergio PL6 Gold</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Бренд</div>
                <div class="right highlight">CRYSTAL LUX</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Страна</div>
                <div class="right">Испания</div>
              </li>
              <li class="tabs-box__item">
                <div class="left">Стиль</div>
                <div class="right">Современный</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="description">
  <div class="container">
    <h2 class="description__title small-title">Описание</h2>
    <div class="description__text">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </div>
  </div>
</section>
