<section class="service">
  <div class="container">
    <div class="service__wrapper">
      <div class="service__side side">
        <div class="side__top">
          <h3 class="side__title">ПОМОЩЬ</h3>
        </div>
        <ul class="side__list">
          <li class="side__item">
            <a class="side__link side__link--active" href="#">Сборка люстр</a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">Монтаж люстр</a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">Рассрочка до 6 мес.</a>
          </li>
        </ul>
      </div>
      <div class="service__right">
        <div class="service__top">
          <div
            class="service__preview"
            style="background-image: url('images/content/service.jpg')"
          ></div>
          <h2 class="service-title title-600">Сборка люстр</h2>
        </div>
        <div class="service__text">
          <p>
            Ответственно подходим к сборке люстр, выполняем работы аккуратно и
            качественно.
          </p>
          <p>
            Современные люстры удивляет красотой и дизайном. В магазинах она
            радует глаз. Правда после покупки красивая картинка превращается в
            груду деталей. И для сборки люстры может понадобиться много времени,
            сил и терпения. Ведь не всегда получается все сделать с первого
            раза. Поэтому рекомендуем поручить это дело мастерам.
          </p>
          <p>
            Специалисты нашей компании ответственно подходят к каждому заказу и
            считают своим долгом выполнить работы аккуратно и качественно. Так
            же выполняют монтаж собранных люстр.
          </p>
        </div>
        <div class="service__bottom contact-box">
          <div class="contact-box__offer">
            <h3 class="contact-box__title">
              Оформите заявку на сайте, мы свяжемся с вами в ближайшее время и
              ответим на все интересующие вопросы.
            </h3>
          </div>
          <form class="contact-box__form form-call">
            <div class="form-call__group">
              <input
                class="form-call__input"
                type="text"
                placeholder="Введите Ваше имя"
                required
              />
            </div>
            <div class="form-call__group">
              <input
                class="form-call__input"
                type="tel"
                placeholder="Введите контактный телефон"
                required
              />
            </div>
            <div class="form-call__group">
              <button class="form-call__btn btn" type="button">
                Вызвать мастера
              </button>
            </div>
            <div class="form-call__group">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" required />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">
                  Отправляя заявку я соглашаюсь с
                  <a href="#">политикой конфиденциальности</a>
                </span>
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
