<section class="services">
  <div class="container">
    <div class="services__wrapper">
      <div class="services__left">
        <div class="services__top">
          <h2 class="services__title title-600">Услуги</h2>
          <div class="services__text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </div>

        <ul class="services__list">
          <li class="services__item">
            <article class="services-card">
              <div class="services-card__inner">
                <div class="services-card__img">
                  <img src="images/content/services/1.jpg" alt="Сборка люстр" />
                </div>
                <div class="services-card__info">
                  <h3 class="services-card__title">Сборка люстр</h3>
                  <div class="services-card__text">
                    <p>
                      Ответственно подходим к сборке люстр, выполняем работы
                      аккуратно и качественно.
                    </p>
                  </div>
                  <div class="services-card__btns">
                    <button class="services-card__btn btn" type="button">
                      Заказать
                    </button>
                    <a class="services-card__btn btn btn--light" href="#">
                      Заказать
                    </a>
                  </div>
                </div>

                <a class="services-card__link" href="#">
                  <svg width="17" height="17">
                    <use xlink:href="images/sprite.svg#arrow-right-fat"></use>
                  </svg>
                </a>
              </div>
            </article>
          </li>
          <li class="services__item">
            <article class="services-card">
              <div class="services-card__inner">
                <div class="services-card__img">
                  <img src="images/content/services/2.jpg" alt="Монтаж люстр" />
                </div>
                <div class="services-card__info">
                  <h3 class="services-card__title">Монтаж люстр</h3>
                  <div class="services-card__text">
                    <p>
                      Команда профессионалов качественно и быстро проведет
                      монтаж люстр и осветительной техники в квартире, офисе, на
                      даче и коммерческих зданиях.
                    </p>
                  </div>
                  <div class="services-card__btns">
                    <button class="services-card__btn btn" type="button">
                      Заказать
                    </button>
                    <a class="services-card__btn btn btn--light" href="#">
                      Заказать
                    </a>
                  </div>
                </div>

                <a class="services-card__link" href="#">
                  <svg width="17" height="17">
                    <use xlink:href="images/sprite.svg#arrow-right-fat"></use>
                  </svg>
                </a>
              </div>
            </article>
          </li>
          <li class="services__item">
            <article class="services-card">
              <div class="services-card__inner">
                <div class="services-card__img">
                  <img
                    src="images/content/services/3.jpg"
                    alt="Рассрочка до 6 мес."
                  />
                </div>
                <div class="services-card__info">
                  <h3 class="services-card__title">Рассрочка до 6 мес.</h3>
                  <div class="services-card__text">
                    <p>
                      Наши партнёры предоставляют услуги рассрочки под покупку
                      люстр. Рассматрение заявки 2 минуты. Получить желаемое
                      просто!
                    </p>
                  </div>
                  <div class="services-card__btns">
                    <button class="services-card__btn btn" type="button">
                      Заказать
                    </button>
                    <a class="services-card__btn btn btn--light" href="#">
                      Заказать
                    </a>
                  </div>
                </div>

                <a class="services-card__link" href="#">
                  <svg width="17" height="17">
                    <use xlink:href="images/sprite.svg#arrow-right-fat"></use>
                  </svg>
                </a>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="services__right">
        <div class="contact-box contact-box--service">
          <div class="contact-box__offer">
            <h3 class="contact-box__title">Оставьте заявку на услугу</h3>
            <div class="contact-box__text">
              <p>
                Оставьте Ваши данные и мы свяжемся с Вами в ближайшее время.
              </p>
            </div>
          </div>
          <form class="contact-box__form form-call">
            <div class="form-call__group">
              <input
                class="form-call__input"
                type="text"
                placeholder="Введите Ваше имя"
                required
              />
            </div>
            <div class="form-call__group">
              <input
                class="form-call__input"
                type="tel"
                placeholder="Введите контактный телефон"
                required
              />
            </div>
            <div class="form-call__group">
              <button class="form-call__btn btn" type="button">
                Оставить заявку
              </button>
            </div>
            <div class="form-call__group">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" required />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">
                  Отправляя заявку я соглашаюсь с
                  <a href="#">политикой конфиденциальности</a>
                </span>
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
