<section class="shops">
  <div class="container">
    <div class="shops__wrapper">
      <ul class="shops__list">
        <li class="shops__item">
          <div class="shops-card">
            <div class="shops-card__img">
              <img src="images/content/shops/1.jpg" alt="Магазин" />
            </div>
            <div class="shops-card__info">
              <address class="shops-card__address">
                Калужское шоссе 4с1, ТЦ Славянский Стан, этаж 1, павильон 1.35
              </address>
              <div class="shops-card__data">
                <p class="shops-card__subway">Теплый стан</p>
                <p class="shops-card__schedule">
                  с 10-00 до 20-00 | Без выходных
                </p>
              </div>
              <div class="shops-card__links">
                <a class="shops-card__tel" href="tel:+79267599914">
                  +7 (926) 759-99-14
                </a>
                <a class="shops-card__mail" href="mailto:lusiana9914@mail.ru">
                  lusiana9914@mail.ru
                </a>
              </div>
            </div>
          </div>
          <div class="shops__map map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Ade2b2d5def1fafca4ff58c3a5cc330e70f8c9c01be64725bbb52f39f04e404b6&amp;source=constructor"
              width="600"
              height="600"
            ></iframe>
          </div>
        </li>
        <li class="shops__item">
          <div class="shops-card">
            <div class="shops-card__img">
              <img src="images/content/shops/2.jpg" alt="Магазин" />
            </div>
            <div class="shops-card__info">
              <address class="shops-card__address">
                Волгоградский проспект 32к25, ТЦ Метр Квадратный, павильон 215
              </address>
              <div class="shops-card__data">
                <p class="shops-card__subway shops-card__subway--purple">
                  Волгоградский проспект
                </p>
                <p class="shops-card__schedule">
                  с 10-00 до 20-00 | Без выходных
                </p>
              </div>
              <div class="shops-card__links">
                <a class="shops-card__tel" href="tel:+79067433011">
                  +7 (906) 743-30-11
                </a>
              </div>
            </div>
          </div>
          <div class="shops__map map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Afd11a84a91678ec8f85ea735050e553709850de045c91d95f9c453df3a42e605&amp;source=constructor"
              width="800"
              height="500"
            ></iframe>
          </div>
        </li>
        <li class="shops__item">
          <div class="shops-card">
            <div class="shops-card__img">
              <img src="images/content/shops/3.jpg" alt="Магазин" />
            </div>
            <div class="shops-card__info">
              <address class="shops-card__address">
                Киевское шоссе, 22-й километр, дв 4, стр. 2, корпус Г, этаж 2,
                павильон 232
              </address>
              <div class="shops-card__data">
                <p class="shops-card__subway">Румянцево</p>
                <p class="shops-card__schedule">
                  с 10-00 до 20-00 | Без выходных
                </p>
              </div>
              <div class="shops-card__links">
                <a class="shops-card__tel" href="tel:+79260654337">
                  +7 (926) 065-43-37
                </a>
              </div>
            </div>
          </div>
          <div class="shops__map map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3A2990893dcc0dc74f2a1d3fd8548e042b4308e6582a2da6ef46a69fe860729f14&amp;source=constructor"
              width="800"
              height="500"
            ></iframe>
          </div>
        </li>
        <li class="shops__item">
          <div class="shops-card">
            <div class="shops-card__img">
              <img src="images/content/shops/2.jpg" alt="Магазин" />
            </div>
            <div class="shops-card__info">
              <address class="shops-card__address">
                Калужское шоссе 4с14, павильон Б25/4
              </address>
              <div class="shops-card__data">
                <p class="shops-card__subway shops-card__subway--purple">
                  Теплый стан
                </p>
                <p class="shops-card__schedule">
                  с 10-00 до 20-00 | Без выходных
                </p>
              </div>
              <div class="shops-card__links">
                <a class="shops-card__tel" href="tel:+79067433011">
                  +7 (906) 743-30-11
                </a>
              </div>
            </div>
          </div>
          <div class="shops__map map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Afd11a84a91678ec8f85ea735050e553709850de045c91d95f9c453df3a42e605&amp;source=constructor"
              width="800"
              height="500"
            ></iframe>
          </div>
        </li>
        <li class="shops__item">
          <div class="shops-card">
            <div class="shops-card__img">
              <img src="images/content/shops/3.jpg" alt="Магазин" />
            </div>
            <div class="shops-card__info">
              <address class="shops-card__address">
                Калужское шоссе 4с14, павильон В20/1
              </address>
              <div class="shops-card__data">
                <p class="shops-card__subway">Теплый стан</p>
                <p class="shops-card__schedule">
                  с 10-00 до 20-00 | Без выходных
                </p>
              </div>
              <div class="shops-card__links">
                <a class="shops-card__tel" href="tel:+79260654337">
                  +7 (926) 065-43-37
                </a>
              </div>
            </div>
          </div>
          <div class="shops__map map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3A2990893dcc0dc74f2a1d3fd8548e042b4308e6582a2da6ef46a69fe860729f14&amp;source=constructor"
              width="800"
              height="500"
            ></iframe>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
