<section class="style">
  <div class="container">
    <div class="style__wrapper">
      <div class="style__offer">
        <h2 class="style__title small-title">
          Освещение под стиль Вашего помещения
        </h2>
        <div class="style__text">
          <p>В наличии осветительные приборы для любого стиля помещения</p>
        </div>
      </div>

      <div class="style__slider swiper">
        <ul class="style__slides swiper-wrapper">
          <li class="style__slide swiper-slide">
            <div class="style-card">
              <div class="style-card__img">
                <img src="images/content/styles/1.jpg" alt="Современный" />
              </div>
              <div class="style-card__info">
                <h3 class="style-card__title small-title">Современный</h3>
                <p class="style-card__text">— стиль интерьера</p>
              </div>
            </div>
          </li>
          <li class="style__slide swiper-slide">
            <div class="style-card">
              <div class="style-card__img">
                <img src="images/content/styles/2.jpg" alt="Современный" />
              </div>
              <div class="style-card__info">
                <h3 class="style-card__title small-title">Арт - деко</h3>
                <p class="style-card__text">— стиль интерьера</p>
              </div>
            </div>
          </li>
          <li class="style__slide swiper-slide">
            <div class="style-card">
              <div class="style-card__img">
                <img src="images/content/styles/3.jpg" alt="Современный" />
              </div>
              <div class="style-card__info">
                <h3 class="style-card__title small-title">Лофт</h3>
                <p class="style-card__text">— стиль интерьера</p>
              </div>
            </div>
          </li>
          <li class="style__slide swiper-slide">
            <div class="style-card">
              <div class="style-card__img">
                <img src="images/content/styles/1.jpg" alt="Современный" />
              </div>
              <div class="style-card__info">
                <h3 class="style-card__title small-title">Современный</h3>
                <p class="style-card__text">— стиль интерьера</p>
              </div>
            </div>
          </li>
          <li class="style__slide swiper-slide">
            <div class="style-card">
              <div class="style-card__img">
                <img src="images/content/styles/2.jpg" alt="Современный" />
              </div>
              <div class="style-card__info">
                <h3 class="style-card__title small-title">Арт - деко</h3>
                <p class="style-card__text">— стиль интерьера</p>
              </div>
            </div>
          </li>
          <li class="style__slide swiper-slide">
            <div class="style-card">
              <div class="style-card__img">
                <img src="images/content/styles/3.jpg" alt="Современный" />
              </div>
              <div class="style-card__info">
                <h3 class="style-card__title small-title">Лофт</h3>
                <p class="style-card__text">— стиль интерьера</p>
              </div>
            </div>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Слудющий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
    </div>
  </div>
</section>
