<section class="type">
  <div class="container">
    <div class="type__wrapper">
      <div class="type__offer">
        <h2 class="type__title small-title">Ваш тип помещения</h2>
        <div class="type__text">
          <p>В наличии осветительные приборы для любого типа помещения</p>
        </div>
      </div>

      <div class="type__slider swiper">
        <ul class="type__slides swiper-wrapper">
          <li class="type__slide swiper-slide">
            <div class="type-card type-card--bedroom">
              <h3 class="type-card__title">Спальня</h3>
            </div>
          </li>
          <li class="type__slide swiper-slide">
            <div class="type-card type-card--living">
              <h3 class="type-card__title">Гостиная</h3>
            </div>
          </li>
          <li class="type__slide swiper-slide">
            <div class="type-card type-card--kitchen">
              <h3 class="type-card__title">Кухня</h3>
            </div>
          </li>
          <li class="type__slide swiper-slide">
            <div class="type-card type-card--children">
              <h3 class="type-card__title">Детская</h3>
            </div>
          </li>
          <li class="type__slide swiper-slide">
            <div class="type-card type-card--bathroom">
              <h3 class="type-card__title">Ванная</h3>
            </div>
          </li>
          <li class="type__slide swiper-slide">
            <div class="type-card type-card--bedroom">
              <h3 class="type-card__title">Спальня</h3>
            </div>
          </li>
          <li class="type__slide swiper-slide">
            <div class="type-card type-card--living">
              <h3 class="type-card__title">Гостиная</h3>
            </div>
          </li>
          <li class="type__slide swiper-slide">
            <div class="type-card type-card--kitchen">
              <h3 class="type-card__title">Кухня</h3>
            </div>
          </li>
          <li class="type__slide swiper-slide">
            <div class="type-card type-card--children">
              <h3 class="type-card__title">Детская</h3>
            </div>
          </li>
          <li class="type__slide swiper-slide">
            <div class="type-card type-card--bathroom">
              <h3 class="type-card__title">Ванная</h3>
            </div>
          </li>
        </ul>

        <button
          class="swiper-button-next"
          type="button"
          aria-label="Слудющий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
    </div>
  </div>
</section>
